<%- if controller_name != 'sessions' %>
  <span><%= link_to "ログイン", new_session_path(resource_name) %>はこちら</span>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span><%= link_to "新規登録", new_registration_path(resource_name) %>はこちら</span>
<% end %>
