// Place all the styles related to the public/score_sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media screen and (max-width:1024px) {
  .table-box {
    width: 100%;
    overflow: auto;
  }

  .player-table {
    white-space: nowrap;
  }
}