<div>
  <h2 class="fw-bold text-center">プレイヤー一覧</h2>
</div>

<table class="table text-center">
  <thead>
    <tr>
      <th>プレイヤー名</th>
      <th></th>
    </tr>
  </thead>
  <% players.each do |player| %>
  <tbody>
    <tr>
      <td><%= player.name %></td>
      <td><%= link_to "編集", edit_player_path(player.id), class: "btn btn-outline-success btn-sm" %></td>
    </tr>
  </tbody>
  <% end %>
</table>