<div class="container">

  <div class="row">
    <div class="d-flex align-items-center justify-content-center" style="height: 500px;">
        <div class="text-center fw-bold">
          <h1 class="p-3 fw-bold">このサイトについて</h1>
          <p>成績作成ではルールと参加するプレイヤーを選択することでスコアを記録するスコアシートを作成できます。</p>
          <p>ルール作成・プレイヤー作成では成績作成で使用するルール・プレイヤーを作成できます。</p>
          <p>マイページでは記録したスコアを元に統計をとったデータを見ることができます。</p>
          <p>友人一覧ではフォローした会員が一覧で表示されます。</p>
          <p>会員詳細画面からメッセージを送信することができます。</p>
        </div>
    </div>
  </div>

</div>