/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo {
  font-family: 'Zen Kurenaido', sans-serif;
}

.background-image {
  position: relative;
  min-height: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url("top.png");
}


// ここからメッセージ画面で使用
.speech-bubble {
  overflow: hidden;
  padding-bottom: 10px;
}

.speech-bubble p {
  margin: 0;
}

.speech-bubble:after {
  clear: both;
  content: "";
  display: table;
}

.speech-bubble:before {
  content: "";
  display: table;
}

.sb-bubble:after,
.sb-bubble:before {
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  top: 1.2em;
  width: 0;
}

.sb-left {
  float: left;
  margin-left: 20px;
}

.sb-right {
  float: right;
  margin-right: 20px;
}

.sb-line3 {
  border: solid 2px #c5d0e4;
  border-radius: .5em;
  max-width: 70%;
  padding: .2em 1em;
  position: relative;
}

.sb-line3.sb-left {
  background: #ffffff;
  border-top-left-radius: 0;
}

.sb-line3.sb-left:after {
  background: #ffffff;
  border: solid #c5d0e4;
  border-radius: 0 1em 0 0;
  border-width: 2px 2px 0 0;
  height: .5em;
  right: 100%;
  top: -2px;
  width: .5em;
}

.sb-line3.sb-left:before {
  background: #ffffff;
  border-top: solid 2px #c5d0e4;
  height: .5em;
  right: 100%;
  top: -2px;
  width: .5em;
}

.sb-line3.sb-right {
  background: #d5e0f4;
  border-top-right-radius: 0;
}

.sb-line3.sb-right:after {
  background: #ffffff;
  border: solid 2px #c5d0e4;
  border-radius: 1em 0 0 0;
  border-width: 2px 0 0 2px;
  height: .5em;
  left: 100%;
  top: -2px;
  width: .5em;
}

.sb-line3.sb-right:before {
  background: #d5e0f4;
  border-top: solid 2px #c5d0e4;
  height: .5em;
  left: 100%;
  top: -2px;
  width: .5em;
}

div.example {
  width: 100%;
  height: 400px;
  overflow: scroll;
}
// ここまでメッセージ画面で使用