<div class="container">

  <div class="row">
    <div class="d-flex align-items-center justify-content-center" style="height: 500px;">
      <div class="text-center fw-bold">
        <h2 class="fw-bold p-3">本当に退会しますか？</h2>
        <p>退会した場合、会員登録情報や</p>
        <p>記録してきた成績などの閲覧ができなくなります。</p>
        <p>退会する場合は、「退会する」をクリックしてください。</p>
        <div class="p-3">
          <%= link_to "退会しない", user_path(current_user.id), class: "btn btn-outline-primary" %>
          <%= link_to "退会する", users_withdraw_path, method: :patch, class: "btn btn-outline-danger" %>
        </div>
      </div>
    </div>
  </div>

</div>